<div>
<!--We bound the ngSrc directive of the large image to the mainImageUrl property.

We also registered an ngClick handler with thumbnail images. When a user clicks on one of the thumbnail images, the handler will use the setImage event handler function to change the value of the mainImageUrl property to the URL of the thumbnail image.-->

	<img ng-src="{{mainImageUrl}}" style="float:left;height:400px;width:320px;">
	Product id: {{product.productId}}<br/>
	Description : {{product.description}} <br/>
	Genre : {{product.genre}} <br/>
	Author : {{product.author}} <br/>
	<ul class="phone-thumbs">
	  <li ng-repeat="img in product.images" style="float:left;">
		<img ng-src="{{img}}" ng-click="setImage(img)" style="height:100px;width:80px;">
	  </li>
	</ul>

</div>
